div.header{
	text-align: center;
	font-size: 20pt;
	color: green;
}

}
div.Game{
	margin: 20px;

}

canvas{
	border-style: solid;

}
div.Shapes {
	text-align: left;
	font-size: 5;
	color:black;
}
#rectangle{
	
}