/* Formating my HTML*/

/*General*/
body{
	box-sizing: border-box;
	background-image: url(http://c.dryicons.com/files/graphics_previews/DD-Abstract-Background-40295-Preview.jpg);
	background-repeat: no-repeat;	
	background-size: 	cover;
	padding: 0%


}
/*Element formating */

h1{
	color: Green;
	font-family: "Georgia" ;
	text-align: center;

}

p{
}


/* Header Class Formating*/
div.header{	
	outline-color: black;
	/*background-color: black;
	/*box-sizing: border-box;	
	/*Borders*/
	/*border-style: dashed;
	border-color: green;*/
	/*Margins*/
	/*width: 100%*/
	/*Text formatting*/
	text-align: center;
	padding: 0;
	margin: 0;
}

/*Sub elements in Header*/
/*Title*/
#title{
}

#Navigation{
	border-style: solid;
    border-color: black;	
    background-color: hsla(120, 80%, 70%, 0.2);   

}

/*Section formating */

ul.NAV{   
	list-style-type: none; 	
    margin: 0; 
    padding: 0;
	
}

 ul.NAV li{
 	display: inline;
 	margin-left: 100pt;
 	align-items: center; 
}
 
 ul.NAV li a { 	
 	text-align: center;
 	padding: 10pt;
 }

/*division class formating */
/*Page Body*/
div.PageBody{
	width: 75%;
	/*text-align: center;*/
	margin: auto;
}

/*ID Formating*/

#AboutMe{

}
#Skills{
	border-style: dotted;
	
}
#Projects{
}

#Education{
}

#Future{
}


div.Footer{
	outline: solid;
	border: solid;
	border-color: black;
	border-style: solid;
	padding: 5px;
	text-align: center;
	margin: 0%
}


#footer{
	
}
/*Unique to home page*/
div.Bears{
	width: 75%;
	text-align: center;
	font-family: sans-serif;
	margin: auto;	
}

div.Bears img{
	align-item: center;
	/*margin-right: 37.5%;
	margin-left:37.5% ;*/
}


/*Unique to project page*/
div.Code{
	margin: 2%;
}
#cpp{
	border: solid;

}
