body{
	box-sizing: border-box;
	background-image: url(http://c.dryicons.com/files/graphics_previews/DD-Abstract-Background-40295-Preview.jpg);
	background-repeat: no-repeat;	
	background-size: 	cover;

}

/*Element formating */

h1{
	color: Green;
	font-family: Verdana ;
	text-align: center;
}


p{
	
}

/*Section formating */
div.header{
	background-color: DeepSkyBlue;
		box-sizing: 	border-box;	
	/*Borders*/
	border-style: dashed;
	border-color: red;

	/*Margins*/
	

	/*Text formatting*/
	text-align: center;
	padding: 10px;

}
ul.NAV{   list-style-type: none;
    margin: 0;
    padding: 0;}
 ul.NAV li{
 	display: inline;
 }

/*division class formating */
div.AboutMe{
	width: 75%;
	/*text-align: center;*/
	margin: auto;
}
#Skills{
	border-style: dotted;
	
}
#AboutMe{


}
#Education{

}

#Projects{
	
}
#Future{

}

div.Bears{
	width: 50%;
	/*text-align: center;*/
	margin: auto;
	
}

#footer{
	border: solid;
	border-color: black;
	border-style: solid;
	padding: 5px;
	text-align: center;
}

